
$deepBlue: #1A2980;
$lightBlue: #26D0CE;
$white: #fff;
$text: #444;

@import "home-hero";
@import "home-menu";


body {
    background-color: $white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}

section#body {
    position: relative;
    top: -90px;
    background-color: $white;
    padding: 20px;

    article {
        margin: 30px 15px;
    }
}

footer {
    
    min-height: 120px;
    background-color: $deepBlue;
    
    article {
        position: relative;
        top: -90px;

        background-color: $white;
        margin: 0px 5px 15px 5px;
        padding: 30px;
        
    }
    
}
